.tarjeta {
  width: 250px;
  border: solid 2px;
  border-radius: 8px;
  padding: 10px;
  background-color: rgb(197, 195, 195);
}

footer {
  background-color: black;
  color: white;
}

body {
  background-color: gray;
}

.formulario {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.685);
  max-width: 900px;
  margin: 10px auto;
  border-radius: 10px;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 60px;
  grid-template-areas: "titulo    titulo" "NomApell  email" "tel       asunto" "mensaje   mensaje" "btn       btn";
}
.formulario > h2:nth-child(1) {
  grid-area: titulo;
  color: white;
  font-size: 30px;
}
.formulario > label:nth-child(2) {
  grid-area: NomApell;
}
.formulario > label:nth-child(3) {
  grid-area: email;
}
.formulario > label:nth-child(4) {
  grid-area: tel;
}
.formulario > label:nth-child(5) {
  grid-area: asunto;
}
.formulario > label:nth-child(6) {
  grid-area: mensaje;
}
.formulario > button:nth-child(7) {
  grid-area: btn;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  font-size: 15px;
  margin: 5px;
  margin-top: 20px;
  font-family: "Times New Roman", Times, serif;
}
.formulario > label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}
.formulario > label > input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
.formulario > label > textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
  height: 70px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
@media (max-width: 576px) {
  .formulario {
    width: calc(100% - 40px);
    border-radius: 10;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 60px;
    grid-template-areas: "titulo" "NomApell" "email" "tel" "asunto" "mensaje" "btn";
  }
}

.cajapadre {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: calc(100% - 40px);
  margin: auto;
}
.cajapadre > .cajahijo1 {
  margin: 10px;
}
.cajapadre > .cajahijo2 {
  margin: 10px;
}
.cajapadre > .cajahijo3 > img {
  width: 100%;
}
.cajapadre > .cajahijo4 {
  margin: 10px;
}
.cajapadre > .cajahijo5 > img {
  width: 100%;
}
.cajapadre > .cajahijo6 {
  margin: 10px;
}
@media (min-width: 768px) {
  .cajapadre {
    flex-direction: row;
    align-items: center;
  }
  .cajapadre > .cajahijo3 {
    width: 45%;
    padding: 10px;
  }
  .cajapadre > .cajahijo3 > img {
    width: 100%;
  }
  .cajapadre > .cajahijo4 {
    width: 45%;
    padding: 10px;
  }
  .cajapadre > .cajahijo5 {
    width: 45%;
    padding: 10px;
  }
  .cajapadre > .cajahijo5 > img {
    width: 100%;
  }
  .cajapadre > .cajahijo6 {
    width: 45%;
    padding: 10px;
  }
}

* {
  margin: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: black !important;
}

.navbar-brand {
  color: white;
}

.tarjeta > img {
  width: 500px;
  height: 160px;
}
.tarjeta > button {
  border: 0;
  border-radius: 8px;
  background-color: black;
  padding: 6px;
  color: white;
}
.tarjeta > button:hover {
  background-color: rgba(0, 0, 0, 0.342);
}

.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.507);
  z-index: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading i {
  color: white;
  font-size: 64px;
  animation-name: rotar;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes rotar {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}