.tarjeta {
    @extend %tarjeta;
    > img {
        width: $ancho;
        height: 160px;
      }
    > button {
        @include button(rgb(8, 8, 119),white);
        &:hover{
          background-color: rgb(15, 15, 185)
        }
      }
  }